html {
    position: relative;
    z-index: 0;
}
.navbar{
    transition: 0.3s ease-in-out ;
}

.unscrolled{
    background: transparent !important;
}


.scrolled {
    background: #121212 !important;
  }


.banner {
    margin-top: 0;
    background-image: url('./images/banner-bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inter {
    font-family: "Inter";
}

.banner-button>a>button>svg {
    transition: 0.4s ease-in-out;
}

.banner-button:hover>a>button>svg {
    margin-left: 14px;

}
a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit !important;
}

.banner img {
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(+20px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(+20px);
    }
}



.skills-section {
    background-color: #151515;
    border-radius: 64px;
    padding: 60px 50px;
    margin-top: -60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.projects {
    background-image: url('./images/footer-bg.png');

    background-size: cover;
    background-repeat: no-repeat;
  }

.proj-imgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
    border-radius: 24px;
}

.proj-imgbx:hover::before {
    height: 100%;
}


.proj-tx {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    padding: 0px 20px;


}

.proj-imgbx:hover .proj-tx {
    opacity: 0.85;
}

.contact{
    background-image: linear-gradient(90.21deg, rgb(170, 54, 124) -5.91%, rgb(74, 47, 189) 111.58%);
}

input{
    padding: 18px 26px;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background: transparent;
    outline:none;
    font-weight: 700;
    font-size: 18px;
    font-family: Centra;
    transition: 0.3s ease-in-out;
   
}
textarea{
    background: transparent;
    padding: 18px 26px;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 20px;
    margin:0;
    width:96%;
    outline:none;
    min-height: 200px;
    font-weight: 700;
    font-size: 18px;
    font-family: Centra;
    transition: 0.3s ease-in-out;
}
input::placeholder , textarea::placeholder{
    color: white;
}
input:focus ,textarea:focus{
    background-color: white;
}
input:focus::placeholder, textarea:focus::placeholder{
    color:#121212;
    font-weight: 400;
    opacity: 0.8;
}
input:focus,textarea:focus{
    color:black
}

.footer {
    padding: 0 0 50px 0;
    background-image: url('./images/footer-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact_button{
    padding: 18px 48px;
    border-radius: 0;
    background-color: white;
    font-weight: 700;
    font-size: 18px;

  }
  .contact_button span{
    transition: 0.3s ease-in-out;
    color: black;
  }
  .contact_button::before{
    content:"";
    position: absolute;
    background-color: black;
    z-index: 0;
    left: 0;
    top: 0px;
    height:100%;
    width:0px;
    transition: 0.3s ease-in-out;

  }

  .contact_button:hover::before{
    width: 100%;

  }
  .contact_button:hover span{
    color:white;
    z-index: 100    ;
    position: relative;

  }
 